:root{
    --color-primary: #2E2F42;
    --color-secondary: #434455;
    --color-accent: #4D5AE5;
    --color-hover: #404BBF;
    --color-hero-section: #FFF;
    --color-footer: #F4F4FD;
}

/* header */
.section-header{
    color: var(--color-hero-section);
}
.logo-accent{
    color: var(--color-accent);
}
.logo-header{ 
    color: var(--color-primary);
}

.nav-link{
    color: var(--color-primary);
}
.nav-link:hover{
    color: var(--color-hover);
}

.address-link{
    color: var(--color-secondary);
}
.address-link:hover{
    color: var(--color-hover);
}

/* hero section */
.hero-section{
    background-color: var(--color-primary);
}

.hero-title{
    color: var(--color-hero-section);
}

.hero-button {
    background-color: var(--color-accent);
    color: var(--color-hero-section);
    cursor: pointer;
}
.hero-button:hover{
    background-color: var(--color-hover);
}

/* Advantages section */
.section-advantages{
    background-color: var(--color-hero-section)
}
.advantages-section-title{
    color: var(--color-primary);
}
.adventages-section-text{ 
    color: var(--color-secondary);
}

/* Team section */
.team-section{
    color: var(--color-footer);
}
.team-section-title{
    color: var(--color-primary);
}
.team-section-text{
    color: var(--color-secondary);
}

/* Portfolio section */
.portfolio-section{
    background-color: var(--color-hero-section);
}
.portfolio-section-title{
    color: var(--color-primary);
}
.portfolio-section-title{
    color: var(--color-primary);
}
.portfolio-section-text{
    color:var(--color-primary);
}

/* footer */
.footer{
    background-color: var(--color-primary);
}
.logo-footer{
    color: var(--color-footer);
}
.footer-text{
    color:var(--color-footer);
}